<span class="token comment">&#123;# Profile content #&#125;</span>
&lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">id</span>=<span class="token attr-value">"profile"</span>&gt;
    ...
&lt;/<span class="token tag">div</span>&gt;