$h1-small_fontSize: .85em;

<span class="token selector">.h1</span> {
    <span class="token selector">.small</span> {
        <span class="token property">font-size</span>: $h1-small_fontSize;
    }
}