<h3 class="heading">Synthax</h3>

<ul>
    <li>
        Space between after entering delimiters (<code><span class="token tag">{% for i in 1..2 %}&#123;{% endfor %}</span></code> or <code><span class="token tag">&#123;%</span></code>) and before ending delimiters (<code>&#125;&#125;</code> or <code><span class="token tag">%&#125;</span></code>).
    </li>

    <li>
        Reminds into the <code><span class="token tag">&#123;%</span> endblock <span class="token tag">%&#125;</span></code> tag the block's name.
    </li>

    <li>
        For filters usage, don’t use spaces after and before the filter marker (<code>|</code>)
    </li>

    <li>
        Use space between the concatenate operator (<code>~</code>)
    </li>
</ul>