<p>
    Strive to limit use of shorthand declarations to instances where you must explicitly set all the available values. Common overused shorthand properties include:
</p>

<ul>
    <li>padding</li>

    <li>margin</li>

    <li>font</li>

    <li>background</li>

    <li>border</li>

    <li>border-radius</li>
</ul>