<ul>
    <li>
        Avoid javascript into twig templates.
    </li>

    <li>
        Avoid "static string”, rather use translate keys.
    </li>

    <li>
        Use <code>asset()</code> function for images includes.
    </li>

    <li>
        Use assetic for stylesheet includes.
    </li>
</ul>