<span class="token tag">&#123;%</span>&nbsp;<span class="token keyword">include</span> <span class="token attr-value">'_nav.html.twig'</span>&nbsp;<span class="token keyword">with</span> &#123;
    <span class="token attr-value">'summary'</span>: summary,
&#125; <span class="token tag">%&#125;</span>