<span class="token comment">&lt;!-- Not so good --&gt;</span>
&lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"pod"</span>&gt;
    &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"col-xs-8 pod-content"</span>&gt;
        lorem
    &lt;/<span class="token tag">div</span>&gt;

    &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"col-xs-4 pod-sidebar"</span>&gt;
        ipsum
    &lt;/<span class="token tag">div</span>&gt;
&lt;/<span class="token tag">div</span>&gt;

<span class="token comment">&lt;!-- Much better --&gt;</span>
&lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"pod"</span>&gt;
    &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"row"</span>&gt;
        &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"col-xs-8"</span>&gt;
            &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"pod-content"</span>&gt;
                lorem
            &lt;/<span class="token tag">div</span>&gt;
        &lt;/<span class="token tag">div</span>&gt;

        &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"col-xs-8"</span>&gt;
            &lt;<span class="token tag">div</span>&nbsp;<span class="token attr-name">class</span>=<span class="token attr-value">"pod-sidebar"</span>&gt;
                ipsum
            &lt;/<span class="token tag">div</span>&gt;
        &lt;/<span class="token tag">div</span>&gt;
    &lt;/<span class="token tag">div</span>&gt;
&lt;/<span class="token tag">div</span>&gt;