<h3 class="heading">Using Bootstrap grid</h3>

<ul>
    <li>
        Any <code>.col-*-*</code> must have <code>.row</code> as direct parent.
    </li>

    <li>
        Avoid usage of any other class or id on <code>.row</code> and <code>.col-*-*</code> elements.
    </li>
</ul>