<h3 class="heading">File Naming</h3>

<ul>
    <li>
        Use camelCase, not underscores, for files naming.
    </li>

    <li>
        Prefix with "_" partials files as any template that can not be rendered stand-alone.
    </li>
</ul>