<p>
    This website collect numbers of rules and examples about the code should be written, architectured and thought for the AppVentus front-end team & each AppVentus project.
</p>

<p>
    For each statement the idea is to keep a code coherent in order to make sure everyone's efficency. Our goal is to keep clear and easy to maintain. Modulable and Scalable should be the philosophy in order to avoid structural problems and makes components movable to any other project.
</p>

<p>
    Of course, any rule of this document can be discussed, <strong>feel free to improve any following statements</strong>.
</p>