<h3 class="heading">Block declaration</h3>

<ul>
    <li>
        Reminds into the endblock tag the name of block defined
    </li>

    <li>
        Start & end block should be both on the same line when it's markup free
    </li>
</ul>