&lt;<span class="token tag">p</span>&gt;
<span class="token comment">{% for i in 1..4 %}&#183;{% endfor %}</span>lorem ipsum&lt;<span class="token tag">span</span>&gt;dolor&lt;/<span class="token tag">span</span>&gt;
&lt;/<span class="token tag">p</span>&gt;