<h3 class="heading">Indentation</h3>

<ul>
    <li>
        Use 4 spaces for indentation — they're the only way to guarantee code renders the same in any environment.
    </li>

    <li>
        Never indent inline a native <code>display: block;</code> element (<code>&lt;div&gt;</code>, <code>&lt;p&gt;</code>). Only write inline the natives <code>display: inline;</code> or <code>display: inline-block;</code> in order to clarify html semantics.
    </li>
</ul>