<h3 class="heading">Responsive Usages</h3>

<ul>
    <li>
        Place media queries as close to their relevant rule sets whenever possible.
    </li>

    <li>
        In media queries specify media type (like <code>all</code> or <code>screen</code>) only if necessary
    </li>
</ul>