<h3 class="heading">Synthax</h3>

<ul>
    <li>
        Place closing braces of declaration blocks on a new line.
    </li>

    <li>
        Include one space after <code>:</code> for each declaration.
    </li>

    <li>
        Each declaration should appear on its own line for more accurate error reporting.
    </li>

    <li>
        End all declarations with a semi-colon. The last declaration's is optional, but your code is more error prone without it.
    </li>

    <li>
        Comma-separated property values should include a space after each comma (e.g., <code>box-shadow</code>).
    </li>

    <li>
        Don't prefix property values or color parameters with a leading zero (e.g., <code>.5</code> instead of <code>0.5</code> and <code>-.5px</code> instead of <code>-0.5px</code>).
    </li>

    <li>
        Quote attribute values in selectors, e.g., <code>input[type="text"]</code>.
    </li>

    <li>
        <strong class="text-underline">Never do</strong> inline declarations.
    </li>
</ul>