<h3 class="heading">Indentation</h3>

<ul>
    <li>
        Indent twig tags as any markup element (without carring about de processed markup indentation).
    </li>

    <li>
        Never indent twig tags like inline html elements.
    </li>

    <li>
        Blocks into html tag as attributes can be inline
    </li>
</ul>