&lt;<span class="token tag">ul</span>&gt;
    &lt;<span class="token tag">li</span>&gt;
        &lt;<span class="token tag">img</span>&nbsp;<span class="token attr-name">src</span>=<span class="token attr-value">"image.png"</span>&gt;
    &lt;/<span class="token tag">li</span>&gt;

    &lt;<span class="token tag">li</span>&gt;
        &lt;<span class="token tag">a</span>&nbsp;<span class="token attr-name">href</span>=<span class="token attr-value">"#"</span>&gt;see more&lt;/<span class="token tag">a</span>&gt;
    &lt;/<span class="token tag">li</span>&gt;
&lt;/<span class="token tag">ul</span>&gt;