<h3 class="heading">Synthax</h3>

<ul>
    <li>
        Always use double quotes, never single quotes, on attributes.
    </li>

    <li>
        Don't include a trailing slash in self-closing elements—the HTML5 spec says they're optional.
    </li>
</ul>