<header id="header">
    <div>
        <h1 class="text-uppercase">
            <strong>AppVentus front-end code guide</strong>
        </h1>

        <p class="h5">
            Bunch of standards for html, css & js
        </p>
    </div>
</header>