<nav id="nav">
    <ul>
        <li>
            <a href="#introduction">introduction</a>
        </li>

        {% for key, item in summary %}
            <li>
                <a href="#{{ key }}">{{ key }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>