<span class="token selector">input</span> {
    <span class="token selector">[type="text"]</span> {
       &nbsp;<span class="token keyword">@include</span>&nbsp;<span class="token selector">box-shadow</span> (0 0 2px 3px $anthracite);
    }
}