<h3 class="heading">Using colors</h3>

<ul>
    <li>
        use hexa or rgba formats for colors definition.
    </li>

    <li>
        Use shorthand hex values where available (e.g., <code>#fff</code> instead of <code>#ffffff</code>.)
    </li>
</ul>
