<h3 class="heading">Indentation</h3>

<ul>
    <li>
        Use 4 spaces for indentation.
    </li>

    <li>
        When grouping selectors, keep individual selectors to a single line.
    </li>

    <li>
        Include one space before the opening brace of declaration blocks for legibility.
    </li>
</ul>