<ul>
    <li>
        Use id’s for layout purposes only
    </li>

    <li>
        Avoid specifying units for zero values (e.g., <code>margin-top: 0;</code> instead of <code>margin-top: 0px;</code>).
    </li>
</ul>