<h3 class="heading">Indentation</h3>

<p>
    Use sass and less nesting for every selectors in order to make your selector deepness clear and loud. If you indent more than three time for a nested selected, your selector deepness should be to strong and your code design must be wrong.
</p>